.div-in-component-about{
    background-color: #eff7f9;
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5rem; /* Padding around the content */
    padding-top: 10rem;
    color: #81868d5c; /* Example text color */
}

.page-component-about  {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #eff7f9;
  }

.pc-text-a{
    color: #44484f82;
}

.page-component-heading-about {
  
    font-family: "jost";
    font-size: 4rem;
    margin: 0;
    color: rgb(30, 29, 29);
    opacity: 1; 
  
    @media (max-width: 850px) {
      font-size: 3rem;
    
  }
  @media (max-width: 400px) {
    font-size: 2rem;
  
  }
  
  }
