
  
  #page14 {
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #000;
    @media (max-width: 850px) {
      height: 30vh;
    }
  }
  
  .page14-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
    font-family: a;
    height: 33.3%;
    width: 100%;
    color: #fff;
    border-top: 0.5px solid #ffffff5c;
    border-bottom: 0.5px solid #ffffff48;

  }
  
  .page14-inner > i {
    font-weight: 100;
    font-size: 2.4vw;
    position: relative;
    z-index: 3;
  }
  
  .page14-inner > h1 {
    font-size: 3vw;
    font-weight: 100;
    position: relative;
    z-index: 3;
  }
  
  .center14 {
    height: 0%;
    width: 100%;
    background-color: #1369ce;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all ease 0.5s;
  }
  
  .page14-inner:hover .center14 {
    height: 100%;
  }
  

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --main-color: #1c2629;
  --dark-color: #000;
  --light-color: #2582ec;
  --medium-light-color: #1c2629;
  --orange: #1369ce;
  --orange-light: #1369ce;
  --white_: #000;
}

#page13 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
    position: relative;
    height: 50vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
    font-family: a;

    @media (max-width: 1100px){
      height: 80vh;
    }
    
    @media (max-width: 850px) {
      flex-direction: column;
      padding: 2rem;
      text-align: start;
      height: auto;
    }
  }
  


.form-container-main {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 4rem;

  @media (max-width: 850px) {
    padding: .5rem 2rem;
  }
}

.montserrat{
  font-family: "jost";
  font-size: 4rem;
  margin: 0;
  @media (max-width: 850px) {
    font-size: 3rem;
    text-align: center;
  }
  @media (max-width: 400px) {
    font-size: 3rem;
    text-align: center;
    font-size: 2rem;
  }

}



.montserrat_{
  font-family: "jost";
  margin-bottom: 2rem;
  padding-right: 13rem;

  @media (max-width: 1800px) {
    padding-left: -1rem;
    padding-right: 40rem;
    margin-bottom: 3rem;
    text-align: left;
    font-size: 1.5rem;
  }

  @media (max-width: 1501px) {
    padding-right: 25rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }

  @media (max-width: 1101px) {
    padding-right: 15rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }

  @media (max-width: 850px) {
    padding-right: 0rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  @media (max-width: 400px) {
    padding-right: 0rem;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1rem;
  }
}


.form-container {
  width: 100vw;
  background-color: var(--dark-color);
  display: flex;
  /* border-left: 5px solid var(--orange); */
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);

  @media (max-width: 1800px){
    margin-top: 2rem;

  }

  @media (max-width: 1100px) {
    width: 100%;
  }

  @media (max-width: 850px) {
    display: block;
    padding: 30px;
    width: 90%;
    margin-left: -.7rem;

    .form-image {
      height: 100%;
    }
  }

  .form-image {
    flex-basis: 100%;

    h1 {
      margin-left: 30px;
      color: white;
      font-weight: 800;

      @media (max-width: 850px) {
        margin-left: 0;
      }
    }

    model-viewer {
      margin-top: -30px;
      height: 100%;
      width: 0%
    }
  }

  .form {
    flex-basis: 40%;

    input {
      color: var(--light-color);
      width: 100%;
      background-color: var(--main-color);
      border: none;
      outline: none;
      padding: 10px;
      font-family: "jost";
      margin-bottom: 20px;
      font-weight: bold;
      transition: all 0.2s ease-in-out;
      border-left: 1px solid transparent;

      &:focus {
        border-left: 5px solid var(--orange);
      }
    }

    textarea {
      width: 100%;
      padding: 10px;
      border: none;
      outline: none;
      background-color: var(--medium-light-color);
      color: var(--orange);
      font-weight: bold;
      resize: none;
      max-height: 150px;
      margin-bottom: 20px;
      border-left: 1px solid transparent;
      transition: all 0.2s ease-in-out;

      &:focus {
        border-left: 5px solid var(--orange);
      }
    }

    .button-container {
      display: flex;
      gap: 10px;
      font-family: "jost";

      .send-button {
        flex-basis: 70%;
        background: var(--orange);
        padding: 10px;
        color: var(--dark-color);
        text-align: center;
        font-weight: bold;
        border: 1px solid transparent;
        border-radius: 20px;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: transparent;
          border: 1px solid var(--orange);
          color: var(--orange);
        }
      }

    }
  }
}
